@import 'core/variables';
@import 'components/buttons';
@import 'components/hero';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/grid';
@import 'layouts/article';
@import 'layouts/article-reasons';
@import 'components/typography';

body {
    margin:0 0;
}
.page_wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 15px;
    @media all and (min-width:768px) {
        padding: 0 39px;
    }
}