<article>
    <h2 class="reasons_title txt_lg">3 Reasons To Purchase</h2>
    <div>
        <div class="txt_md">
            <h3 class="reason_title">Ut sed metus</h3>
            <p class="reason_text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="txt_md">
            <h3 class="reason_title">Curabitur ac erat</h3>
            <p class="reason_text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="txt_md">
            <h3 class="reason_title">Morbi dictum</h3>
            <p class="reason_text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
    <button type="button" class="btn-filled btn-default">More reasons</button>
</article>