<article class="article_reasons">
    <div class="page_wrapper">
        <h2 class="reasons_title txt_lg">3 Reasons To Purchase</h2>
        <div class="reasons">
            <ul class="reasons_list">
                <li class="txt_md item1">
                    <h3 class="reason_title">Ut sed metus</h3>
                    <p class="reason_text">Lorem ipsum dolor sit amet, consecteur.</p>
                </li>
                <li class="txt_md item2">
                    <h3 class="reason_title">Curabitur ac erat</h3>
                    <p class="reason_text">Mauris mattis urna quis lorem molestie.</p>
                </li>
                <li class="txt_md item3">
                    <h3 class="reason_title">Morbi dictum</h3>
                    <p class="reason_text">Aliquam in dolor et dolor tincidunt.</p>
                </li>
                <button type="button" class="item4 btn-filled btn-default">More reasons</button>
            </ul>
        </div>
    </div>
</article>