<article class="page_wrapper">
    <div class="article" id="article">
        <h4 class="article_h4 txt_xs">Insomnia Tips</h4>
        <h2 class="article_title txt_lg">Looking Through A Window</h2>
        <p class="article_text txt_md">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
            diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="">
            <a href="" class="btn-empty btn-default go">Go</a>
        </div>
    </div>
</article>