<footer class="footer">
    <div class="page_wrapper footer_box">
        <div class="footer_box1">
            <ul class="footer_list txt_sm">
                <li>Articles</li>
                <li>Books</li>
                <li>Events</li>
                <li>Reasons</li>
                <li>Tips</li>
            </ul>
        </div>
        <div class="footer_box2">
            <ul class="footer_list txt_sm">
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Mastodon.social</li>
            </ul>
        </div>
        <div class="footer_box3">
            <p class="text_xs footer_xs">&copy;2017</p>
            <p class="text_xs footer_xs">we <span class="footer_heart">❤︎</span> components</p>
        </div>
    </div>
</footer>