<div class="hero">
    <div class="desperate_attempt">
        <div class=hero_textsection>
            <h1 class="hero_title txt_xl">Anonimous proxy</h1>
            <p class="hero_text txt_sm">In hac habitasse platea dictumst.</p>
        </div>
        <div class="hero_iconsection">
            <a href="#article">
                <div class="hero_iconbox">
                    <img src="assets/images/ico-scroll-down.svg" alt="Icono scroll down"">
                </div>
            </a>
        </div>
    </div>
</div>