<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Anonimous Proxy</title>
  <link rel="icon" href="favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <partial src="_header.html" label="Header"></partial>
  <main>
    <partial src="_hero.html" label="Hero"></partial>
    <partial src="_article.html" label="Main"></partial>
    <partial src="_aside.html"></partial>
  </main>
  <partial src="_footer.html"></partial>
</body>

</html>