.article_h4 {
    font-family: $font-family-text;
    color: $color-midtone;
    padding-top:30px;
}
.article_title {
    font-family: $font-family-title;
    color: $color-black;
    margin: 1px 0 15px 0;
}
.article_text {
    font-family: $font-family-text;
    color:$color-grey;
    margin: 0 0 25px 0;
    font-weight: $font-weight-regular;
}
.article {
    padding-bottom: 45px;
}