.reasons_title {
    font-family: $font-family-title;
    color: $color-black;
}
.reason_title {
    font-family: $font-family-title;
    color: $color-black;
}
.reason_text {
    font-family: $font-family-text;
    color: $color-black;
}