.article {
    margin: 30px 15px 45px 15px;
}

.article_h4 {
    font-family: $font-family-text;
    color: $color-midtone;
    margin: 0 0;
}
.article_title {
    font-family: $font-family-title;
    color: $color-black;
    margin: 1px 0 15px 0;
}
.article_text {
    font-family: $font-family-text;
    color:$color-grey;
    margin: 0 0 25px 0;
    font-weight: $font-weight-regular;
}
.article.btn {
    margin: none;
}