.footer {
    background: $color-dark;
    color: $color-light;
    font-family: $font-family-text;
}
.footer_list {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
    margin:0 auto;
    @media all and (min-width:768px) {
        text-align: left;
    }
}
@media all and (min-width:768px) {
    .footer_box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @media all and (min-width:1200px) {
        padding: 0 331px;
        }
    }
}
.footer_box1 {
    @media all and (min-width:768px) {
        width: 210px;
        padding-bottom: 45px;
    }
}
.footer_box2 {
    padding-top: 30px;
    padding-bottom: 45px;
    @media all and (min-width:768px) {
        width: 210px;
     padding-top: 0;   
    }
}
.footer_box3 {
    padding-bottom: 30px;
    @media all and (min-width:768px) {
    order: -1;
    width: 210px;
    
    }
}
.footer_xs {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 5px 0;
    @media all and (min-width:768px) {
        text-align: left;
    }
}
.footer_heart {
    color: $color-primary;
}
.footer_iconbox {
    background: $color-light;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto 15px auto;
    transform: translateY(-50%);
    @media all and (min-width:768px) {
        margin: 0 auto;
    }
    @media all and (min-width:1200px) {
        margin: 0 auto;
    }
}