.header_menu {
    background: $color-dark-midtone;
    width: 44px;
    height: 44px;
    position: fixed;
    margin: 0 0;
    padding: 0 0;
}
.burguer_menu {
    width: 16px;
    height: 14px;
    margin: 15px 14px;
}