.btn-burguer {
  border: none;
  background: #0271bc;
  width: 44px;
  height: 44px;
  position: fixed;
  margin: 0 0;
  padding: 0 0;
  outline: none;
  cursor: pointer;
}

.btn-empty {
  background: #ffffff;
  color: #f26002;
  border: 2px solid #f26002;
  padding: 8.5px 25px;
  cursor: pointer;
}

.btn-filled {
  background: #f26002;
  color: #ffffff;
  border: none;
  padding: 0px 30px;
}

.btn-default {
  border-radius: 22.5px;
  font-size: 20px;
  line-height: 45px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: none;
  font-weight: 500;
  outline: none;
}

.hero {
  height: 100vh;
  width: 100vw;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero_textsection {
  position: relative;
}

.hero_title {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero_text {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}

.hero_iconsection {
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.hero_iconsection:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.hero_iconbox {
  background: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 45px;
  margin-bottom: 53px;
}

.burguer_menu {
  width: 16px;
  height: 14px;
  margin: 15px 14px;
}

.footer {
  background: #304268;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.footer_list {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0;
  margin: 0 auto;
}

.footer_box1 {
  padding-top: 60px;
}

.footer_box2 {
  padding-top: 30px;
  padding-bottom: 45px;
}

.footer_box3 {
  padding-bottom: 30px;
}

.footer_xs {
  text-align: center;
  margin: 0 auto;
}

.footer_heart {
  color: #f26002;
}

.article_h4 {
  font-family: "Roboto", sans-serif;
  color: #8ccbea;
  padding-top: 30px;
}

.article_title {
  font-family: "Roboto Slab", serif;
  color: #000000;
  margin: 1px 0 15px 0;
}

.article_text {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  margin: 0 0 25px 0;
  font-weight: 400;
}

.article {
  padding-bottom: 45px;
}

.reasons_list {
  list-style: none;
  padding: 0 0;
  margin: 0 0 60px 0;
  display: grid;
  grid-template-columns: 290px;
  grid-template-rows: 135px 135px 105px 45px;
}

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article_reasons {
  background: #eff9ff;
  text-align: center;
}

.reasons_title {
  font-family: "Roboto Slab", serif;
  color: #000000;
  padding: 30px 0 45px 0;
  margin: 0 0;
}

.reason_title {
  font-family: "Roboto Slab", serif;
  color: #000000;
  padding: 0 0;
  margin: 0 0;
}

.reason_text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0 0 45px 0;
}

.item1 {
  grid-row: 1;
}

.item2 {
  grid-row: 2;
}

.item3 {
  grid-row: 3;
}

.item4 {
  grid-row: 4;
  width: 184px;
  height: 45px;
  margin: 0 auto;
}

.txt_xs {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.txt_sm {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.txt_md {
  font-size: 18px;
  line-height: 30px;
}

.txt_lg {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.txt_xl {
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 700;
}

body {
  margin: 0 0;
}

.page_wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 15px;
}

/*# sourceMappingURL=main.css.map */
