.btn-burguer {
    border:none;
    background: $color-dark-midtone;
    width: 44px;
    height: 44px;
    position: fixed;
    margin: 0 0;
    padding: 0 0;
    outline: none;
    cursor: pointer;
}
.btn-empty {
    background: $color-light;
    color: $color-primary;
    border: 2px solid $color-primary;
    padding: 8.5px 25px;
    cursor: pointer;
    transition: color ease 0.7s, background ease 0.7s;
    &:hover {
        background: $color-primary;
        color: $color-light;
    }
}

.btn-filled {
    background: $color-primary;
    color: $color-light;
    border: 2px solid $color-light-midtone;
    padding: 0px 28px;
    transition: color ease 0.7s, background ease 0.7s, border ease 0.7s;
    &:hover {
        background: $color-light;
        color: $color-primary;
        border: 2px solid $color-primary;
    }
}
.btn-default {
    border-radius: 22.5px;
    font-size: 20px;
    line-height: 45px;
    font-family: $font-family-text;
    text-decoration: none;
    margin: none;
    font-weight: $font-weight-medium;
    outline: none;
}