.hero {
    height: 100vh;
    width: 100vw;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero_textsection {
    position: relative;
}
.hero_title {
    font-family: $font-family-title;
    color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_text {
    font-family: $font-family-text;
    color: $color-light;
    text-align: center;
}
.hero_iconsection {
    transition:transform ease 0.5s;
      &:hover {
        transform:scale(1.2);
      }
}
.hero_iconbox {
    background: $color-light;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    margin-bottom: 53px;
}
