.hero {
    height: 100vh;
    width: 100vw;
    background: url("../images/cover.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media all and (min-width:768px){
        min-height: 400px;
    }
}
.hero_title {
    font-family: $font-family-title;
    color: $color-light;
    text-align: center;
    width: 290px;
    height:110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 10px auto;
    @media all and (min-width:768px) {
        width: 690px;
        height: 168px;
    }
    @media all and (min-width:1200px) {
        width: 730px;
        height: 200px;
    }
}
.hero_text {
    font-family: $font-family-text;
    color: $color-light;
    text-align: center;
    margin: 0 auto;
    @media all and (min-width:768px) {
        font-size: 24px;
    }
}
.hero_iconbox {
    background: $color-light;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 45px auto 53px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    transition:transform ease 0.5s;
      &:hover {
        transform:scale(1.2);
      }
      @media all and (min-width:768px) {
          margin: 30px auto 45px auto;
      }
      @media all and (min-width:1200px) {
        margin: 13px auto 30px auto;
    }
}
