.hero {
    height: 100vh;
    width: 100vw;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 50% 1fr auto;
}
.hero_textsection {
    position: relative;
    grid-row:2;
}
.hero_title {
    font-family: $font-family-title;
    color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media all and (min-width:768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.anonimous {
    @media all and (min-width:768px) {
        margin-right:25px;
    }
}
.hero_text {
    font-family: $font-family-text;
    color: $color-light;
    text-align: center;
    margin: 0 auto;
    @media all and (min-width:768px) {
        font-size: 24px;
    }
}
.hero_iconsection {
    grid-row:3;
    transition:transform ease 0.5s;
      &:hover {
        transform:scale(1.2);
      }
}
.hero_iconbox {
    background: $color-light;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 45px auto 53px auto;
    @media all and (min-width:768px) {
        margin: 30px auto 45px auto;
    }
    @media all and (min-width:2014px) {
        margin: 30px auto 13px auto;
    }
}
