.txt_xs {
    font-size: 14px;
    line-height: 30px;
}
.txt_sm {
    font-size: 16px;
    line-height: 30px;
}
.txt_md {
    font-size: 18px;
    line-height: 30px;
}
.txt_lg {
    font-size: 24px;
    line-height: 30px;
}
.txt_xl{
    font-size: 42px;
    line-height: 55px;
}
