.txt_xs {
    font-size: 14px;
    line-height: 30px;
    font-weight: $font-weight-regular;
}
.txt_sm {
    font-size: 16px;
    line-height: 30px;
    font-weight: $font-weight-regular;
}
.txt_md {
    font-size: 18px;
    line-height: 30px;
    @media all and (min-width:768px) {
        font-size: 20px;
    }
}
.txt_lg {
    font-size: 24px;
    line-height: 30px;
    font-weight: $font-weight-bold;
    @media all and (min-width:768px) {
        font-size: 26px;
        line-height: 45px;
    }
    @media all and (min-width:1200px) {
        font-size: 32px;
    }
}
.txt_xl{
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    @media all and (min-width:768px) {
        font-size: 80px;
        line-height: 80px;
    }
    @media all and (min-width:1200px) {
        font-size: 100px;
        line-height: 110px;
    }
}
