$color-light: #ffffff;
$color-light-midtone: #8ccbea;
$color-dark-midtone: #0271bc;
$color-dark: #304268;
$color-primary: #f26002;

$font-family-text: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;
