$color-light: #ffffff;
$color-light-midtone: #8ccbea;
$color-dark-midtone: #0271bc;
$color-dark: #304268;
$color-primary: #f26002;

$color-black: #000000;
$color-grey: #4a4a4a;

$font-family-text: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;

$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-bold:700;